<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.trade.mapper.TradeReturnOrderMapper">
  <resultMap id="BaseResultMap" type="com.tianyi.trade.model.TradeReturnOrder">
    <id column="return_id" jdbcType="BIGINT" property="returnId" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="applicant_contact" jdbcType="VARCHAR" property="applicantContact" />
    <result column="applicant_email" jdbcType="VARCHAR" property="applicantEmail" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="express_id" jdbcType="BIGINT" property="expressId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="rejection" jdbcType="VARCHAR" property="rejection" />
    <result column="reject_time" jdbcType="TIMESTAMP" property="rejectTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    return_id, applicant, applicant_contact, applicant_email, apply_time, `name`, express_id, 
    order_id, receiver_address, rejection, reject_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.tianyi.trade.model.TradeReturnOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_return_order
    where return_id = #{returnId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trade_return_order
    where return_id = #{returnId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tianyi.trade.model.TradeReturnOrderExample">
    delete from trade_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="return_id" keyProperty="returnId" parameterType="com.tianyi.trade.model.TradeReturnOrder" useGeneratedKeys="true">
    insert into trade_return_order (applicant, applicant_contact, applicant_email, 
      apply_time, `name`, express_id, 
      order_id, receiver_address, rejection, 
      reject_time, create_time, update_time
      )
    values (#{applicant,jdbcType=VARCHAR}, #{applicantContact,jdbcType=VARCHAR}, #{applicantEmail,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{expressId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{receiverAddress,jdbcType=VARCHAR}, #{rejection,jdbcType=VARCHAR}, 
      #{rejectTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="return_id" keyProperty="returnId" parameterType="com.tianyi.trade.model.TradeReturnOrder" useGeneratedKeys="true">
    insert into trade_return_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicant != null">
        applicant,
      </if>
      <if test="applicantContact != null">
        applicant_contact,
      </if>
      <if test="applicantEmail != null">
        applicant_email,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="expressId != null">
        express_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="rejection != null">
        rejection,
      </if>
      <if test="rejectTime != null">
        reject_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicantContact != null">
        #{applicantContact,jdbcType=VARCHAR},
      </if>
      <if test="applicantEmail != null">
        #{applicantEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null">
        #{expressId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="rejection != null">
        #{rejection,jdbcType=VARCHAR},
      </if>
      <if test="rejectTime != null">
        #{rejectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tianyi.trade.model.TradeReturnOrderExample" resultType="java.lang.Long">
    select count(*) from trade_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_return_order
    <set>
      <if test="record.returnId != null">
        return_id = #{record.returnId,jdbcType=BIGINT},
      </if>
      <if test="record.applicant != null">
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
      <if test="record.applicantContact != null">
        applicant_contact = #{record.applicantContact,jdbcType=VARCHAR},
      </if>
      <if test="record.applicantEmail != null">
        applicant_email = #{record.applicantEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.expressId != null">
        express_id = #{record.expressId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.receiverAddress != null">
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.rejection != null">
        rejection = #{record.rejection,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectTime != null">
        reject_time = #{record.rejectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_return_order
    set return_id = #{record.returnId,jdbcType=BIGINT},
      applicant = #{record.applicant,jdbcType=VARCHAR},
      applicant_contact = #{record.applicantContact,jdbcType=VARCHAR},
      applicant_email = #{record.applicantEmail,jdbcType=VARCHAR},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      `name` = #{record.name,jdbcType=VARCHAR},
      express_id = #{record.expressId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      rejection = #{record.rejection,jdbcType=VARCHAR},
      reject_time = #{record.rejectTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.trade.model.TradeReturnOrder">
    update trade_return_order
    <set>
      <if test="applicant != null">
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicantContact != null">
        applicant_contact = #{applicantContact,jdbcType=VARCHAR},
      </if>
      <if test="applicantEmail != null">
        applicant_email = #{applicantEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null">
        express_id = #{expressId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="receiverAddress != null">
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="rejection != null">
        rejection = #{rejection,jdbcType=VARCHAR},
      </if>
      <if test="rejectTime != null">
        reject_time = #{rejectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where return_id = #{returnId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.trade.model.TradeReturnOrder">
    update trade_return_order
    set applicant = #{applicant,jdbcType=VARCHAR},
      applicant_contact = #{applicantContact,jdbcType=VARCHAR},
      applicant_email = #{applicantEmail,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      `name` = #{name,jdbcType=VARCHAR},
      express_id = #{expressId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      rejection = #{rejection,jdbcType=VARCHAR},
      reject_time = #{rejectTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where return_id = #{returnId,jdbcType=BIGINT}
  </update>
</mapper>